@model  ProjectCinema.ViewModel.MovieViewModel
@using ProjectCinema.Models;
@using ProjectCinema.ViewModel;

@{
    ViewBag.Title = "MovieGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieGallery</h2>

<table>
  
    @foreach (var item in Model.Movies)
    {
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moviePicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.showtime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Movie","Delete", new { id = item.ID }) |

        </td>
    </tr>
        }
    }
</table>








